#include "resource.h"
#include <winres.h>

#ifdef APSTUDIO_INVOKED
#error this file is not editable by Microsoft Visual C++
#endif

LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

/////////////////////////////////////////////////////////////////////////////
// Icon
//
// The first icon resource (lowest id) becomes the application/.exe icon.
IDI_APPICON  ICON  "res\\FastAcq.ico"

STRINGTABLE
BEGIN
    IDR_MAINFRAME "FastAcq"
END
